{% extends 'base.html' %}

{% block content %}
    {% if request.user.id == post.user.id %}
    <a href="{% url 'home:post_delete' post.id %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'home:post_update' post.id %}" class="btn btn-info">Update</a>
    {% endif %}
    <p><a href="{% url 'accounts:Profile' post.user.id %}"> {{post.user.username}}</a> -{{post.updated_date|date:"Y-M-d-D"}}</p>
    <p>{{post.body}}</p><hr>

    {% if request.user.is_authenticated %}
        <a href="{% url 'home:Like' post.id %}"class="{% if can_like %} disabled {% endif %} btn btn-primary">like {{post.likes_count}}</a>

        
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="send">
        </form><br/>
    {% else %}
        <p class="alert alert-danger">please login first </p>
    {% endif %}



   
    <p>{{comments.count}} comments</p>
   
    {% for comment in comments %}
        <div class="card">
            <p class="card-header">{{comment.user}} \ {{comment.created_date|timesince}}</p>
            <p class="card-body">{{comment.body}}</p>

            {% if request.user.is_authenticated %}
                <form action="{% url 'home:add_reply' post.id comment.id %}" method="post" style="display:none;" >
                    {% csrf_token %}
                    {{form_reply.as_p}}
                    <input type="submit" value="send">
                </form><br/>
            {% endif %}


            {% for reply in comment.reply_comments.all %}
                <p class="bg-primary p-3 m-2 ">{{reply.user}} <br/> {{reply.body }} </p>
            {% endfor %}
        </div><br/>
    {% empty %}
        <p>No comments yet</p>
    {% endfor %}
{% endblock %}