{%extends 'base.html'%}

{%block content%}

<div class="card center">
	<p>Your password has been changed successfully. Please <a href="{% url 'accounts:Login' %}">Login</a></p>
</div>
 	
{%endblock content%}