{% extends 'base.html' %}

{% block content %}
    <h2 class="text-center"> {{user.username}}</h2>
    <h2 class="text-center">{{user.profile.bio}}</h2>
    <h2 class="text-center">{{user.profile.link}}</h2>
    
    
   

    {% if request.user.id == user.id %}
        <a href="{% url 'home:post_create' %}" class="btn btn-primary"> Create </a>
        <a href="{% url 'accounts:Edit_profile' %}" class="btn btn-info"> Edit_profile</a>

    {% endif %}

    {% if request.user.id != user.id and not now_following %}
        <a class="btn btn-primary" href="{% url 'accounts:Follow' user.id %}">Follow</a>
    {% elif request.user.id != user.id and now_following %} 
        <a class="btn btn-primary" href="{% url 'accounts:Unfollow' user.id %}">Unfollow</a>
    {% endif %}
    

    
    <div class="card">
        {% for post in posts %}
            <a href="{{ post.get_absolute_url }}" class="card-body">{{post.body|truncatewords:8}}</a>
        {% endfor %}

    </div>


{% endblock %}