{% extends 'base.html' %}

{% block content %}
    <h2> Registration</h2>

    <form action="" method="post" class="col-md-6" novalidate>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value='register'>

    </form>
{% endblock %}