<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>social_media</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        .jumbotron{
            padding: 20px;;
            margin-bottom: 20px;
            background:#acbdcd;
        }
    </style>
</head>

<body >
    
   
    {%include 'inc/navbar.html'%}
    <div class="jumbotron"> 

        {%include 'inc/messages.html'%}
        {% block content %} {% endblock %}
        
    </div>
    
   
</body>
</html>
